<a href="https://colab.research.google.com/github/Alec-Fetzer/Coding-Examples-from-University-of-Miami/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
r = 3 # radius of cylinder
pi = 3.14  # abbreviated verson of the number pi
h = 10    # height of cylinder
# Calculate surface area of cylinder
area = (2 * pi * r ** 2) + (2 * pi * r * h)
# Display area on the screen
print(area)

244.92000000000002

Rock, Paper, Scissors

In [ ]:
p1 = input('choose rock ,paper, scissors: ')
p2 = input('choose rock , paper, scissors: ')
#using Compound Boolean Operators
if p1 == p2:
  print('draw')
# Use the Boolean operators
elif (p1 == 'rock' and p2 == 'scissors') or (p1 == 'scissors' and p2 == 'paper') or (p1 == 'paper' and p2 == 'rock'):
  print('p1 Wins')
else:
  print('p2 Wins')

choose rock ,paper, scissors: paper
choose rock , paper, scissors: rock
p1 Wins

Creating a Calculator

In [ ]:
n1 = float(input('Enter number 1: '))
n2 = float(input('Enter number 2:'))
symbol = input('Choose op:')
if symbol == '/':
  print(n1 / n2)
elif symbol == '*':
  print(n1 * n2)
elif symbol == '+':
  print (n1 + n2)
elif symbol == '-':
  print (n1 - n2)
elif symbol == '**':
  print( n1 ** n2)

Enter number 1: 10
Enter number 2:4
Choose op:*
40.0

Rock-Pape-Scissors using 'While'

In [ ]:
c = input ('Would you like to play rock-paper-scissors?')

while c == 'Yes':
  p1 = input('choose rock ,paper, scissors: ')
  p2 = input('choose rock ,paper, scissors: ')

  if p1 == p2:
    print('draw')
  # Use the Boolean operators
  elif (p1 == 'rock' and p2 == 'scissors') or (p1 == 'scissors' and p2 == 'paper') or (p1 == 'paper' and p2 == 'rock'):
    print('p1 Wins')
  else:
    print('p2 Wins')

  c = input ('Would you like to play rock-paper-scissors?')
print ('Have a nice day!')

Would you like to play rock-paper-scissors?Yes
choose rock ,paper, scissors: Rock
choose rock ,paper, scissors: paper
p2 Wins
Would you like to play rock-paper-scissors?No
Have a nice day!

Parking Garage Problem (Combining Conditions with Iterations)

In [ ]:
flat_rate = 5
for t in range(1,9,1):
  charge = flat_rate + 2.5 * t
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(t,charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

Movie Theater - Initial Problem (Using 'For')

In [ ]:
ticket = 10
fixed = 200
standardAttendees = 20
for ad in range (0, 201, 25):
  profit = 10 * (standardAttendees + 2 * round(ad ** .5)) - fixed - ad
  print (ad , profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

Movie Theater - Initial Problem (Using 'While')

In [ ]:
ticket = 10
fixed = 200
stda = 20

ad = 0
while ad < 201:
  profit = 10 * (standardAttendees + 2 * round(ad ** .5)) - fixed - ad
  print (ad , profit)
  ad = ad + 25

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

Creating a List

In [ ]:
L=[]
item = int(input('Give a value:'))
while item != 0:
  L.append(item)
  item = int(input('Give another value:'))
print(L)

Give a value:10
Give another value:11
Give another value:15
Give another value:0
[10, 11, 15]

4-Loop Example (Key Value Pair)

In [ ]:
names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
months = {}
for i in range(12):
  months[i+1] = names [i]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

House Hunting

In [ ]:
# Define the variables
total_cost = float(input("Enter the cost of the house: "))
portion_down_payment = 0.25  # Down payment is 25% of the total cost
current_savings = 0.0  # Initial savings
annual_return = 0.04  # 4% annual return on investment
annual_salary = float(input("Enter your annual salary: "))
portion_saved = float(input("Enter the portion of salary to be saved each month (decimal): "))

# Calculate the down payment needed
down_payment = total_cost * portion_down_payment

# Initialize variables for the loop
months = 0

# Loop until the current savings is enough for the down payment
while current_savings < down_payment:
    # Add monthly investment returns and monthly savings to current savings
    monthly_return = current_savings * (annual_return / 12)
    monthly_salary_saving = (annual_salary / 12) * portion_saved
    current_savings += monthly_return + monthly_salary_saving

    # Increment the number of months
    months += 1

# Output the result
print(f"Number of months to save for the down payment: {months}")

Enter the cost of the house: 1000000
Enter your annual salary: 100000
Enter the portion of salary to be saved each month (decimal): .03
Number of months to save for the down payment: 441

House Hunting (Semi Annual Raise)

In [ ]:
# Define the variables
total_cost = float(input("Enter the cost of the house: "))
portion_down_payment = 0.25  # Down payment is 25% of the total cost
current_savings = 0.0  # Initial savings
annual_return = 0.04  # 4% annual return on investment
annual_salary = float(input("Enter your annual salary: "))
portion_saved = float(input("Enter the portion of salary to be saved each month (decimal): "))
semi_annual_raise = float(input("Enter the semi-annual salary raise (as a decimal): "))

# Calculate the down payment needed
down_payment = total_cost * portion_down_payment

# Initialize variables for the loop
months = 0

# Loop until the current savings is enough for the down payment
while current_savings < down_payment:
    # Add monthly investment returns and monthly savings to current savings
    monthly_return = current_savings * (annual_return / 12)
    monthly_salary_saving = (annual_salary / 12) * portion_saved
    current_savings += monthly_return + monthly_salary_saving

    # Increment the number of months
    months += 1

    # Apply the semi-annual raise every 6 months
    if months % 6 == 0:
        annual_salary += annual_salary * semi_annual_raise

# Output the result
print(f"Number of months to save for the down payment: {months}")

Enter the cost of the house: 2000000
Enter your annual salary: 100000
Enter the portion of salary to be saved each month (decimal): .20

Range Checker

In [ ]:
def range_check (num,low,high):
  if low <= num and num <= high:
    return True
  else:
    return False

In [ ]:
print(range_check(2,1,3))

True

Parking Garage -- Initial Problem

In [ ]:
def calcFee (hours,decimals=2):
  fee = 5 + hours * 2.5
  fee = round(fee,decimals)
  return fee

def displayFee (fee):
  print('Your parking fee is $',fee)

#or displayFee(calcFee(int(input('Enter number of hours:'))))
h = float(input('Enter number of hours:'))
fee = calcFee(h)
displayFee(fee)
#none is an indicator that you may have forgotten to put a return statement

Enter number of hours:5
Your parking fee is $ 17.5

RECURSION

In [ ]:
def rev(s):
  if len(s) == 1:
    return s
  else:
    return s[-1]+rev(s[:-1])
    return rev(s[1:]) + s[0]
    return s[-1] + rev(s[1:-1]) + s[0]

print(rev('halloween'))

neewollah


##$\frac{\sum_i w_i L_i}{sum_i w_i}$

Step 1: list of products: $\text{res} = [w_0*L_0, w_1*L_1,...]$
Step 2: Sum up lists $\text{res}$, $\text{w}$ and divide

Function that calculates the weighted average of a list L, given weights w. The function should handle the following exception error types:
- ZeroDivisionError (returns empty list)
- Type Error (returns empty list)
- Any other uknown error (returns float('nan')

def wAvg(L,W)

In [ ]:
def wAvg(L,W):
  res = []
  try:
    for i in range(len(L)):
      res.append(L[i] * W[i])
    return sum(res) / sum(W)
  except ZeroDivisionError:
    print('Division by Zero')
    return []
  except TypeError:
    print('Non Numerical objects found')
    return []
  except Exception as e:
    print(f'Unknown Error: {e}')
    return float('nan')


wAvg([1,2,3],[])

Unknown Error: list index out of range

nan

1.A: Define a class named Student. Student has two attributes (name & number)

1.B: Enroll in Classes.

In [1]:
class Student:
  def  __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def set_name(self,newName):
    self.name = newName

  def get_name(self):
    return self.name

  def enroll(self,course):
    if course not in self.courses:
      self.courses.append(course)
    else:
      print('You have already enrolled in this {course}')

  def get_courses(self):
    return self.courses

In [5]:
j = Student('James Bond','007',)
c = Student('Clark Kent', '333',)

j.number

'007'

In [ ]:
j.enroll('BTE 430')

In [7]:
j.get_courses()

[]

In [8]:
Student.get_name(c)

'Clark Kent'

In [9]:
c.get_name()

'Clark Kent'

In [10]:
j.set_name('John')
j.get_name()

'John'

In [11]:
j.name = 'Bob'
j.get_name()

'Bob'